<ion-view title="Historia Clinica" id="page7" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="historiaClinica-button-bar3" class=" button-bar ">
            <a ui-sref="app.tabsController.perfil" id="historiaClinica-button9" style="font-weight:300;" class=" button button-calm  icon ion-android-clipboard "></a>
            <button id="historiaClinica-button10" class=" button button-calm  icon ion-ios-medkit-outline "></button>
            <a ui-sref="app.tabsController.servicios" id="historiaClinica-button11" class=" button button-calm  icon ion-ios-heart "></a>
        </div>
        <div class="spacer" style="width: 283px; height: 24px;"></div>
         <div ng-if="error == 1">
          <div class="spacer" style="width: 300px; height: 48px;"></div>
          <img  align="left" src="img/sin-mascota.jpg" style="width: 20%;  padding-right: 2%; height: auto;">
                <p align"right" style="padding-left: 10%; font-size: 1.1em; " >A tú mascota no se le ha ingresado ninguna vacuna, por favor solicita el ingreso a la veterinaria</p>
       </div>
       <div ng-if="error == 0">
            <ion-list id="historiaClinica-list25" class=" ">
            <ion-item class="item-divider " id="historiaClinica-list-item-divider11"></ion-item>
        </ion-list>
        <ion-list id="historiaClinica-list20" class=" "   >
         
            <div class="item item-body " ng-repeat="hist in historial" id="historiaClinica-list-item-container7">
           <h2 id="historiaClinica-heading1" style="color:#33cd5f; font-weight:600;" class=" ">Vacunas primer mes</h2>
           <div> 
                  <h4 id="historiaClinica-heading1" style="color:#000000;font-style:italic;" ng-if="hist.Vacuna_id == 1" >Tos de las perreras*.</h4>
                <h4 id="historiaClinica-heading1" style="color:#000000;font-style:italic;" ng-if="hist.Vacuna_id == 2" >Parvovirus y moquillo canino (distemper).</h4>
                <h4 id="historiaClinica-heading1" style="color:#000000;font-style:italic;" ng-if="hist.Vacuna_id == 3" >Parvovirus, moquillo canino (distemper), coronavirus, hepatitis infecciosa canina, parainfluenza canina y leptospira. </h4>
                <h4 id="historiaClinica-heading1" style="color:#000000;font-style:italic;" ng-if="hist.Vacuna_id == 4" >Revacunación: parvovirus, moquillo canino (distemper), coronavirus, hepatitis infecciosa canina, paraInfluenza canina y leptospira.</h4>
                <h4 id="historiaClinica-heading1" style="color:#000000;font-style:italic;" ng-if="hist.Vacuna_id == 5" > Revacunación: rabia, parvovirus, moquillo canino (distemper), coronavirus, hepatitis infecciosa canina y leptospira.</h4>
                <!--<button id="historiaClinica-button14" class=" button button-balanced  button-block button-clear ">Ver todas las vacunas</button>-->
            </div>
        </ion-list>
        </div>
    </ion-content>
</ion-view>