<ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
            <ion-header-bar class="bar-stable">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content   padding="false" class="side-menu-left has-header">
                <ion-list  id="menu-list2" class=" " data-componentid="list2">
                    <ion-item class="item-avatar" id="menu-list-item39" data-componentid="list-item39">
                     <img src="img/{{imgUser}}">
                        <h2>{{usuario.nombre}}</h2>
                    </ion-item>
                    <ion-item class="item-divider " id="menu-list-item-divider9" data-componentid="list-item-divider9"></ion-item>
                    <ion-item class="item-icon-left calm  " id="menu-list-item5" ui-sref="app.tabsController.inicio" menu-close="" data-componentid="list-item5">
                        <i class="icon ion-ios-home"></i>Inicio</ion-item>
                    <ion-item class="item-icon-left calm  " id="menu-list-item7" ui-sref="app.tabsController.misMascotas" menu-close="" data-componentid="list-item7">
                        <i class="icon ion-ios-paw"></i>Mis mascotas</ion-item>
                    <ion-item class="item-icon-left calm  " id="menu-list-item18" ui-sref="app.pedirCita" menu-close="" data-componentid="list-item18">
                        <i class="icon ion-medkit"></i>Pedir cita</ion-item>
                    <ion-item class="item-icon-left item-icon-right calm  " id="menu-list-item8" ui-sref="app.tabsController.misCitas" menu-close="" data-componentid="list-item8">
                        <i class="icon ion-android-calendar"></i>Mis citas
                        <span class="item-note">0</span>
                        <i class="icon ion-alert icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-divider " id="menu-list-item-divider9" data-componentid="list-item-divider9"> </ion-item>
                     <ion-item class="item-icon-left item-icon-right assertive  " id="menu-list-item9" ng-href="tel: +573185150778"  ng-click="Llamar(3185150778)" menu-close="" data-componentid="list-item09">
                        <i class="icon ion-thermometer"  ></i>Urgencias 
                        <i class="icon ion-android-call assertive"></i></ion-item>
                        <ion-item class="item-divider " id="menu-list-item-divider9" data-componentid="list-item-divider9"></ion-item>
                    <ion-item class="item-icon-left calm " ng-click="Salir()" id="menu-list-item10" menu-close="" data-componentid="list-item10">
                        <i class="icon ion-close-circled"></i>Salir</ion-item> 
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
