<ion-view title="Mis citas" id="page2" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="misCitas-list6"  class=" ">
            <ion-item class="item  "ng-repeat="Cita  in Citas"  id="misCitas-list-item16">
                <h2 ng-if="Cita.tipo_cita_id == 1" >Corte de Uñas</h2>
                <h2 ng-if="Cita.tipo_cita_id == 2" >Baño</h2>
                <h2 ng-if="Cita.tipo_cita_id == 3" >Liempieza Bucal </h2>
                <h2 ng-if="Cita.tipo_cita_id == 4" > Corte de Pelo </h2>
                <h2 ng-if="Cita.tipo_cita_id == 5" >Desparacitación</h2>
                <h2 ng-if="Cita.tipo_cita_id == 6" >Esterilización</h2>
                <p> {{Cita.fecha}}</p>
            </ion-item>
         
        </ion-list>
    </ion-content>
</ion-view>