<ion-view title="Mis Mascotas" id="page4" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
    <div style="margin: 0 auto; width:50%; text-align: center; vertical-align: middle; ">
     <img  style="width:100%;" src="img/{{imgUser}}">
        </div>
        <div ng-if="error == 1">
          <div class="spacer" style="width: 300px; height: 48px;"></div>
          <img  align="left" src="img/sin-mascota.jpg" style="width: 20%;  padding-right: 2%; height: auto;">
                <p align"right" style="padding-left: 10%; font-size: 1.1em; " >Todavia no se te ha ingresado ninguna mascota, por favor solicita el ingreso a la veterinaria.</p>
       </div>
       <div ng-if="error == 0">
    <ion-list id="misMascotas-list3" class=" " ng-repeat="dt in dta">
            <ion-item class="item-avatar  " id="{{dt.nombre}}" ng-click="enviar(dt)" >
                <img src="{{dt.imagen}}">
                <h2>{{dt.nombre}}</h2>
                <h4 style="white-space:normal; ">{{ dt.raza }}</h4>

            </ion-item>
        </ion-list>
       </div>
       

    </ion-content>
</ion-view>


