<ion-view title="Pedir cita" id="page10" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/{{imgCita}}" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="pedirCita2-form4" ng-submit="pedirCita()"  ng-controller="pedirCita2Ctrl" class="list ">
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <label class="item item-input " id="pedirCita2-input8">
                <span class="input-label">Fecha</span>
                <input type="date"  ng-model="fecha"  required placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 8px;"></div>
            <label class="item item-input " id="pedirCita2-input9">
                <span class="input-label">Hora</span>
                <input type="time" ng-model="hora" required  placeholder="hora">
            </label>
            <div class="spacer" style="width: 283px; height: 16px;"></div>
            <input id="pedirCita2-button21" class=" button button-balanced button-block " type="submit" value="Pedir" >
        </form>
    </ion-content>
</ion-view>