<ion-view title="Pedir cita" id="page9" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/{{imgCita}}" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="pedirCita-form3" ng-submit="pedirCita()"  ng-controller="pedirCitaCtrl"  class="list ">
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <label class="item item-select " id="pedirCita-select5">
                <span class="input-label">Mascota</span>
                <select  ng-model="pet_id" required ng-required="required"     ><option ng-repeat="dta in pet"  value="{{dta.id}}">{{dta.nombre}} </option> </select>
            </label>
            <div class="spacer" style="width: 283px; height: 9px;"></div>
            <label class="item item-input " id="pedirCita-input6">
                <span class="input-label">Fecha</span>
                <input type="date"  ng-model="fecha"  required  placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 8px;"></div>
            <label class="item item-input " id="pedirCita-input7">
                <span class="input-label">Hora</span>
                <input type="time" ng-model="hora" required  placeholder="hora">
            </label>
            <div class="spacer" style="width: 283px; height: 16px;"></div>
            <label class="item item-select " id="pedirCita-select6">
                <span class="input-label">Tipo de servicio</span>
                <select  required ng-required="required"  ng-model="tipo_cita_id" ng-change="CambiarImg(tipo_cita_id)"  ><option   value="1" >Corte de uñas </option>
                <option value="2" >Baño </option>
                <option value="3" >Limpieza bucal</option>
                <option  value="4" >Corte de pelo</option> 
                <option  value="5" >Desparasitación</option> 
                <option  value="6" >Esterilización</option>   
                </select>
            </label>
            <input id="pedirCita2-button21" class=" button button-balanced button-block " type="submit" value="Pedir" >
        </form>
    </ion-content>
</ion-view>