<ion-view title="Promociones" id="page3" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">

        <div class="list card " ng-repeat="Promocion in Promociones" >

              <div class="item item-body">
                <img class="full-image" src="{{Promocion.imagen}}">
                <p>
                  {{Promocion.descripcion}}
                </p>

                <p>
                <div ng-if="Promocion.tiempo != '0000-00-00' " >  
                               <a class="item item-icon-left assertive" href="#">
                                    <i class="icon ion-ios-timer-outline"></i>
                                    Tiempo Limitado <h5 style="margin-top: 2px;">Valido hasta {{Promocion.tiempo}}</h5>
                                  </a>

                      </div>  
                   <div ng-if="Promocion.precio != null " >  
                               <a class="item item-icon-left balanced" href="#">
                                    <i class="icon ion-social-usd"></i>
                                     {{Promocion.precio}} 
                                  </a>

                      </div>    
                    <div class="spacer" style="width: 53px; height: 8px;"></div>          
                  <a href="#" class="subdued">1 Like</a>
                  <a href="#" class="subdued">5 Comments</a>
                </p>
              </div>

            </div>

    </ion-content>
</ion-view>