<ion-view title="Iniciar sesión" hide-nav-bar="true" hide-back-button="true" id="page5" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="true">
        <form id="iniciarSesiN-form1" class="list " ng-submit="login()" ng-controller="iniciarSesiNCtrl" >
            <div class="spacer" style="height: 40px;"></div>
            <div class="">
                <img src="img/logo.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 82px;"></div>
            <label class="item item-input item-floating-label " id="iniciarSesiN-input1">
                <input type="email" name="username" ng-model="username" placeholder="Email">
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <ion-list id="iniciarSesiN-list1" class=" ">
                <label class="item item-input item-floating-label " id="iniciarSesiN-input2">
                    <input type="password" name="password"  ng-model="password" placeholder="Contraseña">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 70px;"></div>
            <input  id="iniciarSesiN-button1" type="submit" name="submit" class=" button button-calm  button-block " value="INICIA SESIÓN">
        </form>
    </ion-content>
</ion-view>