<ion-view title="Perfil" id="page6" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="perfil-button-bar2" class=" button-bar ">
            <button id="perfil-button6" style="font-weight:300;" class=" button button-calm  icon ion-android-clipboard "></button>
            <a ui-sref="app.tabsController.historiaClinica" id="perfil-button7" class=" button button-calm  icon ion-ios-medkit-outline "></a>
            <a ui-sref="app.tabsController.servicios" id="perfil-button8" class=" button button-calm  icon ion-ios-heart "></a>
        </div>
        <ion-list id="perfil-list4" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="perfil-list-item13">
            <img  style="width:100%;" src="{{pet.imagen}}">
                <h2>{{pet.nombre}}</h2>
                <p>Edad : {{pet.edad}} años</p>
                <i class="icon ion-ribbon-b"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 23px;"></div>
        <ion-list id="perfil-list7" class=" ">
            <ion-item class="item-icon-left  " id="perfil-list-item14">
                <i class="icon ion-pizza"></i>Peso actual!
                <span class="item-note">{{pet.peso}}kg</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 11px;"></div>
        <ion-list id="perfil-list8" class=" ">
            <ion-item class="item-icon-left  " id="perfil-list-item37">
                <i class="icon ion-{{genero}}"></i>Genero
                <span class="item-note">{{pet.sexo}}</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 9px;"></div>
        <ion-list id="perfil-list9" class=" ">
            <ion-item class="item-icon-left  " id="perfil-list-item19">
                <i class="icon ion-android-globe"></i>Raza
                <span class="item-note">{{pet.raza}}</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 9px;"></div>
        <ion-list id="perfil-list11" class=" ">
            <ion-item class="item-icon-left  " id="perfil-list-item38">
                <i class="icon ion-social-octocat"></i>Tipo animal
                <span class="item-note">{{tipoAnim}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>