<ion-view title="Servicios " id="page8" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="servicios-button-bar4" class=" button-bar ">
            <a ui-sref="app.tabsController.perfil" id="servicios-button16" style="font-weight:300;" class=" button button-calm  icon ion-android-clipboard "></a>
            <a ui-sref="app.tabsController.historiaClinica" id="servicios-button17" class=" button button-calm  icon ion-ios-medkit-outline "></a>
            <button id="servicios-button18" class=" button button-calm  icon ion-ios-heart "></button>
        </div>
        <div class="spacer" style="width: 283px; height: 24px;"></div>
        <ion-list id="servicios-list26" class=" ">
            <ion-item class="item-divider " id="servicios-list-item-divider13">Ciudados básicos</ion-item>
            <ion-item class="item-avatar item-icon-right  " id="servicios-list-item33"   ng-click="goTo(1)" >
                <img src="img/corte-unas.jpg">
                <h2>Corte de uñas</h2>
                <p style="white-space:normal;">Sin establecer</p>
                <i class="icon ion-ios-time-outline"></i>
            </ion-item>
            <ion-item class="item-divider " id="servicios-list-item-divider15"></ion-item>
            <ion-item class="item-avatar item-icon-right  " id="servicios-list-item34"  ng-click="goTo(2)">
                <img src="img/bano.jpg">
                <h2>Baño</h2>
                <p style="white-space:normal;">Sin establecer</p>
                <i class="icon ion-ios-time-outline"></i>
            </ion-item>
            <ion-item class="item-divider " id="servicios-list-item-divider16"></ion-item>
            <ion-item class="item-avatar item-icon-right  " id="servicios-list-item35"  ng-click="goTo(3)">
                <img src="img/cepillo-dientes.jpg">
                <h2>Limpieza bucal</h2>
                <p style="white-space:normal;">Sin establecer</p>
                <i class="icon ion-ios-time-outline"></i>
            </ion-item>
            <ion-item class="item-divider " id="servicios-list-item-divider17"></ion-item>
            <ion-item class="item-avatar item-icon-right  " id="servicios-list-item36"  ng-click="goTo(4)">
                <img src="img/corte-de-pelo.jpg">
                <h2>Corte de pelo</h2>
                <p style="white-space:normal;">Sin establecer</p>
                <i class="icon ion-ios-time-outline"></i>
            </ion-item>
             <ion-item class="item-divider " id="servicios-list-item-divider17"></ion-item>
           <ion-item class="item-divider " id="servicios-list-item-divider13">Otros Servicios</ion-item>
              <ion-item class="item-avatar item-icon-right  " id="servicios-list-item33"   ng-click="goTo(5)" >
                <img src="img/pulga.jpg">
                <h2>Desparasitación</h2>
                <p style="white-space:normal;">Sin establecer</p>
                <i class="icon ion-ios-time-outline"></i>
            </ion-item>
            <ion-item class="item-divider " id="servicios-list-item-divider17"></ion-item>
             <ion-item class="item-avatar item-icon-right  " id="servicios-list-item33"   ng-click="goTo(6)" >
                <img src="img/Droopy.png">
                <h2>Esterilización</h2>
                <p style="white-space:normal;">Sin establecer</p>
                <i class="icon ion-ios-time-outline"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>