<ion-view title="MediPet" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-tabs class="tabs-calm tabs-icon-only " id="tabsController-tabs1">
        <ion-tab title="Camera Tab" icon="ion-android-calendar"ui-sref="app.tabsController.misCitas" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cart Tab" icon="ion-ios-cart" ui-sref="app.tabsController.inicio" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cloud Tab" icon="ion-ios-paw" ui-sref="app.tabsController.misMascotas" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>